<!DOCTYPE html>
<html>
<head>
  <title>Travel Tales</title>
  <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>

</head>
<body>

  <div class="container">

    <div class="title">
      <h1><span id="travel">Travel Tales</span><br /><span id="track">
      TRACK WHERE YOU TREK</span></h1>
    </div>

    <div class = "nav">
      <h2><%= link_to "View Locations", locations_path, class: "link" %></h2>
      <h2><%= link_to "Sign Up", new_user_path, class: "link" %></h2>
      <h2><%= link_to "Sign In", new_session_path, class: "link" %></h2>
    </div>

</div>

</body>
</html>
