@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i] {
    -webkit-appearance: push-button;
    -webkit-user-select: none;
    white-space: pre;
}


body {
  background-color: #E7F4FF;
}

.container {
  margin: 0px auto 100px auto;
  overflow: hidden;
}

.title {
  display: block;
  text-align: center;
  color: #282C34;
  border: 3px dashed #282C34;
  margin: 100px 200px;
  background-color: RGBA(246, 246, 246, 0.9);
  border-radius: 20%
}

#travel {
  font-family: 'Rock Salt', cursive;
  font-size: 120px;
}

#track {
  font-family: 'Quicksand', sans-serif;
  font-size: 45px;
}

.nav h2{
  width: 200px;
  background-color: #374AA0;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
  margin: 20px auto;
  font-size: 18px;
}

.link {
  line-height: 50px;
  list-style-type: none;
  margin: 15px;
}

.nav h2:hover {
  background-color: #9BF4DB;
  color: #374AA0;
  font-size: 18px;
  font-weight: bolder;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin: 20px;
}

h2 {
  font-family: 'Rock Salt', cursive;
  font-size: 50px;
  text-align: center;
}

h3 {
  font-family: 'Oswald', sans-serif;
  color: #282C34;
  margin: 20px;
  font-size: 40px;
}

ul {
  font-family: 'Oswald', sans-serif;
  color: #282C34;
  margin: 30px;
  list-style-type: none;
}

.container-thought {
  background-color: white;
  padding: 10px;
  margin: 15px;
  border: 5px solid #FF766F;
}

.thought {
  margin: 20px;
}

.thought p {
  padding: 20px;
}

.edit-thought {
  text-align: right;
  margin: 15px;
  font-size: 15px;
}

.edit-container {
  text-align: right;
}

.edit:hover {
  color: red;
}

p {
  border: 1px solid #282C34;
}

.alert {
  width: 200px;
  background-color: #374AA0;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
  margin: 20px auto;
}

.form {
  width: 200px;
  background-color: #9BF4DB;
  font-family: 'Quicksand', sans-serif;
  color: #282C34;
  text-align: center;
  margin: 20px auto;
  padding: 50px;
}

nav, .notice {
  line-height: 30px;
  background-color: RGBA(55, 74, 160, 0.7);
  font-family: 'Quicksand', sans-serif;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.out {
  float: right;
}

.add-location {
    font-family: 'Rock Salt', cursive;
    margin: 70px;
    border: 2px dashed RGBA(40, 44, 52, 1.00);
    padding: 10px;
    background-color: #9BF4DB;
}

.add-location:hover {
  background-color: #374AA0;
  color: white;
  border: 2px solid black;

}

.comment {
  display: flex;
  margin: 20px;
}

.comment-box {
  border: 1px solid #BBBBBB;
  padding: 10px;
  margin: 10px;

}

.comment-container {
  border-top: 1px dashed #282C34;
  border-bottom:  1px dashed #282C34;
  margin: 10px;
  padding: 5px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}

.comment-placeholder {
  width: 1200px;
}

.delete-comment, .submit {
  text-align: right;
  margin: 0px 30px;
  font-family: 'Quicksand', sans-serif;
}

#locations {
  font-family: 'Quicksand', sans-serif;
  font-size: 45px;
  margin-left: 50px;
}

.user-locations {
  margin-left: 100px;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: 50px;
}
